In [1]:
# Data Analysis Bootcamp, HW 2, Thomas Smithey 

# Read Axis Auto Sales Data From Dataset

import pandas as pd

Location = "datasets/axisdata.csv"
df = pd.read_csv(Location)
df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [9]:
# Compute the average number of cars sold per month
carspermo=df['Cars Sold'].mean()
print "Answer 1) The average number of cars sold per month is", ("%.2f" % carspermo), "cars"

Answer 1) The average number of cars sold per month is 3.92 cars

In [10]:
# Compute the max number of cars sold per month
maxcarspermo=df['Cars Sold'].max()
print "Answer 2) The maximum number of cars sold per month is", ("%.2f" % maxcarspermo), "cars"

Answer 2) The maximum number of cars sold per month is 7.00 cars

In [11]:
# Compute the minimum number of cars sold per month
mincarspermo=df['Cars Sold'].min()
print "Answer 3) The minimum number of cars sold per month is", ("%.2f" % mincarspermo), "cars"

Answer 3) The minimum number of cars sold per month is 1.00 cars

In [13]:
# Compute the average number of cars sold per month by gender
print "Answer 4) The average number of cars sold per month by gender: "
pd.pivot_table(df, values=['Cars Sold'], index=['Gender'] )

Answer 4) The average number of cars sold per month by gender:

        Cars Sold
Gender
F        3.760736
M        4.078431

In [45]:
# Compute the average hours worked by people selling more than 3 cars
avghrsper3plus = df.loc[df['Cars Sold']>3]['Hours Worked'].mean()
print "Answer 5) The average number of hours worked for people selling more than 3 cars per month is:", ("%.2f" % avghrsper3plus), "hrs"

Answer 5) The average number of hours worked for people selling more than 3 cars per month is: 34.74 hrs

In [49]:
# Compute average years of experience
yrsex = df['Years Experience'].mean()
print "Answer 6) The average number of years experience is:", ("%.2f" % yrsex), "yrs"

Answer 6) The average number of years experience is: 3.03 yrs

In [70]:
# Compute the average years experience for people that sell over 3 cars per month
avgyrsper3plus = df.loc[df['Cars Sold']>3]['Years Experience'].mean()
print "Answer 7) The average number of years experience for people selling more than 3 cars per month is:", ("%.2f" % avgyrsper3plus), "yrs"

Answer 7) The average number of years experience for people selling more than 3 cars per month is: 3.05 yrs

In [72]:
# Compute the average number of cars sold per month by whether or not they had sales training
print "Answer 8) The average number of cars sold per month by sales training: "
pd.pivot_table(df, values=['Cars Sold'], index=['SalesTraining'])

Answer 8) The average number of cars sold per month by sales training:

               Cars Sold
SalesTraining
N               3.573850
Y               4.168942

In [74]:
print "The best indicator of whether someone is a good salesperson is the number of cars sold on average per month compared to the min, avg and max"

The best indicator of whether someone is a good salesperson is the number of cars sold on average per month compared to the min, avg and max